<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="The Device allows expectant women in low resource settings to continuously monitor the conditions of their fetus, which affects almost 50 percent of females in rural Uganda. Distinguish between contractions and labor pains.">
<meta name="author" content="Wekebere Co. Ltd">
<meta name="keyword" content="Pregnacy monitoring,contraction tracker,medical device company,labor monitoring,taking guess work out of pregnacy,fetal monitor">
<meta name="apiToken" content="<%= apiToken%>">
<title><%= appTitle %> | Sign up</title>
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<!--===============================================================================================-->
</head>
<body>
   <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="images/wekebere_logo.jpeg" />
            <p id="profile-name" class="profile-name-card"><%= appTitle %></p>
            <div class="form-signin">
                <span id="validateUserAccount" class="reauth-email text-danger"></span>
                <input type="text" id="fullName" class="form-control" placeholder="Full name" required autofocus>
                <input type="email" id="email" class="form-control" placeholder="Email" required>
                <input type="text" id="contact" class="form-control" placeholder="Telephone e.g +256" required>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                <select class="form-control mb-2" id="userType">
                    <option>Pregnant Woman</option>
                    <option>Doctor</option>
                </select>
                <select class="form-control mb-2" id="facility">
                    <option>Butabika National Referral Hospital</option>
                        <option>Mulago National Referral Hospital</option>
                        <option>Mulago Women's Referral Hospital</option>
                        <option>Uganda Cancer Institute</option>
                        <option>Uganda Heart Institute</option>
                        <option>International Specialized Hospital of Uganda</option>
                        <option>Arua Regional Referral Hospital</option>
                        <option>Fort Portal Regional Referral Hospital</option>
                        <option>Gulu Regional Referral Hospital</option></option>
                        <option>Hoima Regional Referral Hospital</option>
                        <option>Jinja Regional Referral Hospital</option>
                        <option>Kabale Regional Referral Hospital</option>
                        <option>Kampala Regional Referral Hospital (Old Mulago)</option>
                        <option>Lira Regional Referral Hospital</option>
                        <option>Masaka Regional Referral Hospital</option>
                        <option>Mbale Regional Referral Hospital</option>
                        <option>Mbarara Regional Referral Hospital</option>
                        <option>Moroto Regional Referral Hospital</option>
                        <option>Mubende Regional Referral Hospital</option>
                        <option>Soroti Regional Referral Hospital</option>
                        <option>Abim General Hospital</option>
                        <option>Adjumani General Hospital</option>
                        <option>Anaka General Hospital</option>
                        <option>Apac General Hospital</option>
                        <option>Bududa General Hospital</option>
                        <option>Bugiri General Hospital</option>
                        <option>Bukwo General Hospital</option>
                        <option>Bundibugyo General Hospital</option>
                        <option>Busolwe General Hospital</option>
                        <option>Iganga General Hospital</option>
                        <option>Itojo Hospital</option>
                        <option>Kaabong General Hospital</option>
                        <option>Kagadi General Hospital</option>
                        <option>Kalisizo General Hospital</option>
                        <option>Kamuli General Hospital</option>
                        <option>Kapchorwa General Hospital</option>
                        <option>Katakwi General Hospital</option>
                        <option>Kawolo General Hospital</option>
                        <option>Kayunga Hospital</option>
                        <option>Kiboga General Hospital</option>
                        <option>Kiryandongo General Hospital</option>
                        <option>Kitagata General Hospital</option>
                        <option>Kitgum Hospital</option>
                        <option>Kyenjojo General Hospital</option>
                        <option>Lyantonde General Hospital</option>
                        <option>Masafu General Hospital</option>
                        <option>Masindi General Hospital</option>
                        <option>Mityana Hospital</option>
                        <option>Moyo General Hospital</option>
                        <option>Mpigi Hospital</option>
                        <option>Nakaseke General Hospital</option>
                        <option>Nebbi General Hospital</option>
                        <option>Rakai General Hospital</option>
                        <option>Tororo General Hospital</option>
                        <option>Yumbe General Hospital</option>
                        <option>Buwenge General Hospital - Buwenge, Jinja District</option>
                        <option>Bwera General Hospital</option>
                        <option>Entebbe General Hospital</option>
                        <option>Iran–Uganda Hospital</option>
                        <option>Kawempe General Hospital - Kawempe, Kampala</option>
                        <option>Kiruddu General Hospital - Makindye Division, Kampala</option>
                        <option>Naguru General Hospital - Naguru, Kampala</option>
                        <option>Uganda Cancer Institute</option>
                        <option>Arua Regional Cancer Centre</option>
                        <option>Mbarara Regional Cancer Centre</option>
                        <option>Bombo Military Hospital - Bombo</option>
                        <option>Entebbe Military Hospital - Entebbe</option>
                        <option>Gulu Military Hospital - Gulu</option>
                        <option>Mbuya Military Hospital - Mbuya</option>
                        <option>Murchison Bay Hospital - Luzira</option>
                        <option>Nakasongola Military Hospital - Nakasongola</option>
                </select>
                <input type="text" id="recommendedBy" class="form-control" placeholder="Recommended by" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" id="sign_up">Sign up</button>
                <div class="center-link">
                <a href="/login">Login</a> |
                <a href="/">Home</a>
                </div>
            </div><!-- /form-signin -->
        </div><!-- /card-container -->
    </div><!-- /container -->
  <!-- app controller -->
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="js/UserAccountcontroller.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>