.dash-logo{
    width: 100%;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.cwg-bg-color{
    background-color: black;
}